.sidebar {
  padding: 2rem 2.8rem 2rem 2.8rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20em;
          flex: 0 0 20em;
  margin-top: 2rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.sidebar .active-panel {
  background-color: #fff;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  min-height: 600px;
  border-bottom: 1.5rem solid cadetblue;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.sidebar .active-panel .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem 0 0 1.5rem;
}

.sidebar .active-panel .user .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar .active-panel .user .avatar img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 25%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.sidebar .active-panel .user .avatar .edit-user {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 1rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.sidebar .active-panel .user .person {
  padding: 0.5rem 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 50px;
}

.sidebar .active-panel .hw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 1rem;
}

.sidebar .active-panel .hw h5 {
  color: aqua;
}

.sidebar .active-panel .hw span {
  color: #616161;
  font-size: 20px;
  font-weight: bold;
}

.sidebar .active-panel .menu {
  padding: 0;
}

.sidebar .active-panel .menu li {
  padding: 0.5rem;
}

.sidebar .active-panel .menu a {
  padding: 0.5rem;
  color: gray;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.sidebar .active-panel .menu a:hover {
  padding-left: 1.5rem;
}

@media only screen and (min-width: 0) and (max-width: 1024px) {
  .sidebar {
    margin-left: -20em;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  background-color: #616161;
}

header .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12em;
          flex: 0 0 12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
}

header nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

header nav .right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

body {
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

i {
  margin: 0 1rem;
  font-size: 1.2rem;
}

img {
  max-width: 100%;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
  margin-top: 3.2rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.title {
  font-size: 25px;
  color: #212121;
}

.sub-title {
  font-size: 14px;
  color: #757575;
}

.page-title {
  font-size: 16px;
  color: aqua;
}

.aside-container {
  height: 600px;
  width: 250px;
  background: #fefefe;
}

.auth-box {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fefefe;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.auth-container h2 {
  text-align: center;
  padding-bottom: 2em;
}

.auth-brand {
  width: 30%;
  background: #ffffff;
  padding: 0.5em;
}

.auth-input {
  padding: 2em;
  width: 100%;
}

.sign {
  padding-top: 1em;
  text-align: center;
}

.sign p {
  padding-top: 2em;
}

.panel-notification {
  background-color: #4CAF50;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.ios-box {
  width: 70%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fefefe;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin: 20px 0 20px 0;
}

.ios-box .move-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ios-box .move-info .title:not(:last-child),
.ios-box .move-info .subtitle:not(:last-child) {
  margin-bottom: 0;
}

.ios-box .move-info h2 {
  cursor: pointer;
}

.ios-box .move-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 0.2;
      -ms-flex-positive: 0.2;
          flex-grow: 0.2;
  margin-left: 20px;
}

.ios-box .move-complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */