.sidebar {
  background-color: aqua;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20em;
          flex: 0 0 20em;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media only screen and (min-width: 0) and (max-width: 1024px) {
  .sidebar {
    margin-left: -20em;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  background-color: cornflowerblue;
}

header .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12em;
          flex: 0 0 12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
}

header nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

header nav .right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

body {
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

i {
  margin: 0 1rem;
  font-size: 1.2rem;
}

img {
  max-width: 100%;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
}

h2 {
  margin-bottom: 1px;
}

a {
  text-decoration: none;
}

.title {
  font-size: 60px;
}

.aside-container {
  height: 600px;
  width: 250px;
  background: #fefefe;
}

.auth-box {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fefefe;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.auth-container h2 {
  text-align: center;
  padding-bottom: 2em;
}

.auth-brand {
  width: 30%;
  background: #ffffff;
  padding: 0.5em;
}

.auth-input {
  padding: 2em;
  width: 100%;
}

.sign {
  padding-top: 1em;
  text-align: center;
}

.sign p {
  padding-top: 2em;
}

.ios-box {
  width: 70%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fefefe;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin: 20px 0 20px 0;
}

.ios-box .move-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ios-box .move-info .title:not(:last-child),
.ios-box .move-info .subtitle:not(:last-child) {
  margin-bottom: 0;
}

.ios-box .move-info h2 {
  cursor: pointer;
}

.ios-box .move-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 0.2;
      -ms-flex-positive: 0.2;
          flex-grow: 0.2;
  margin-left: 20px;
}

.ios-box .move-complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */